body{
    background-image: url("public/img/background.png");
    background-attachment: fixed;
}


.header-logo{
    height: 40px;
    padding-top: 10px;
    margin-left: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #F44336;
}

.navbar-menu{
    float: right;
    padding-top: 11px;
}

.navbar-item{
    vertical-align: bottom;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.navbar-item:hover{
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.navbar-separator{
    vertical-align: bottom;
    color: white;
    font-weight: bold;
}


.welcome-block{
    border-radius: 5px;
    background: rgba(7, 7, 7, 0.68);
    padding: 10px;
}

.shadow-top{
    box-shadow: 0 4px 3px #888888;
}

.shadow{
    box-shadow: 4px 4px 3px #888888;
}



#welcome-page{
    width: 800px;
    height: 495px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#ad{
    width: 310px;
    height: 505px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

#brand-logo{
    width: 290px;

}

#connect-block{
    height:100%;
    width: 465px;
    display: inline-block;
}

/* LOGIN PART STYLE */
#login{
    display: block;
}

#login-form{
    width: 100%;
    margin-bottom: 15px;
}

#btn-login{
}

#btn-signup{
}



/* SIGN UP PART STYLE */
#signup{
    display: block;
    margin-top: 10px;
}

.title-sign{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.forms-label-sign{
    color: white;
}

.form-inline{
    margin-top: 5px;
    margin-bottom: 5px;
}

#sex-form{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#up-sex-form{
    float: left;
}

.window{
    width: 800px;
    height: 495px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#page{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.side-panel{
    color: white;
}

.message{
    margin: 10px;
}

#btn-refresh{
    float: right;

}

#general-panel{

}

/* PROFILE VIEW */
#browse{
    display: none;
    overflow:auto;
}

#account{
    display: none;
    overflow:auto;
}


#header-change-password{
    padding-left: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: large;
}

#form-change-password{
    padding-left: 15px;
    width: 60%;
}

#logged-old-password{
    margin-bottom: 5px;
}

#valid-change-password{
    margin-left: 35%;
}


/* BROWSE VIEW */
#search-user-label{
    color: white;
    margin-right: 10px;
}

#search-user-input{
    width: 450px;
    margin-right: 10px;
}

#user-wall-area{
    margin-top: 15px;
}
