body{
    background-image: url("public/img/background.png");
    background-attachment: fixed;
}

.header-logo{
    height: 39px;
    padding-top: 10px;
    margin-left: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #F44336;
}

.navbar-menu{
    float: right;
    padding-top: 11px;
}

.navbar-item{
    vertical-align: bottom;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.navbar-item:hover{
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.navbar-separator{
    vertical-align: bottom;
    color: white;
    font-weight: bold;
}

.shadow-top{
    box-shadow: 0 4px 3px #888888;
}

.shadow{
    box-shadow: 4px 4px 3px #888888;
}



#welcome-page{
    margin-top: 100px;
}

.welcome-block{
    border-radius: 5px;
    background: rgba(7, 7, 7, 0.68);
    padding: 10px;
}

#ad{
    height: 505px;
    background-size: cover;
    margin-bottom: 10px;
}

#connect-block{
    height:100%;
    display: inline-block;
}

/* LOGIN PART STYLE */
#login-form{
    width: 100%;
    margin-bottom: 15px;
}



/* SIGN UP PART STYLE */
#signup{
    margin-top: 10px;
}

.title-sign{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.forms-label-sign{
    color: white;
}

.form-inline{
    margin-top: 5px;
    margin-bottom: 5px;
}

#sex-form{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#up-sex-form{
    float: left;
}


/* PROFILE VIEW */

.window{
    width: 800px;
    height: 495px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#page{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.side-panel{
    margin-bottom: 10px;
    color: white;
}

.message{
    margin: 10px;
}

#btn-refresh{
    float: right;
}

#charts-div{
    margin-top: 10px;
    background: rgba(245, 245, 245, 0.45);
    box-shadow: 4px 4px 3px #c3c3c3;
}



#general-panel{

}


#browse{
    display: none;
    overflow:auto;
}

#account{
    display: none;
    overflow:auto;
}


#header-change-password{
    padding-left: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: large;
}

#form-change-password{
    padding-left: 15px;
    width: 60%;
}

#logged-old-password{
    margin-bottom: 5px;
}

#valid-change-password{
    margin-left: 35%;
}


/* BROWSE VIEW */
#search-user-label{
    color: white;
    margin-right: 10px;
}

#search-user-input{
    width: 450px;
    margin-right: 10px;
}

#user-wall-area{
    margin-top: 15px;
}
