body{
    background-image: url("../public/img/background.png");
    background-attachment: fixed;
}

#brand-logo{
    width: 100%;
}

#header-logo{
    height: 40px;
    padding-top: 10px;
    margin-left: 20px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #F44336;
}

.welcome-block{
    /*background-color: #dcdcdc;*/
    /*border: 2px solid #aeaeae;*/
    border-radius: 5px;
    background: rgba(7, 7, 7, 0.68);
    padding: 10px;
   /* box-shadow: 4px 4px 4px #888888;*/
}


#welcome-page{
    width: 800px;
    height: 495px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#ad{
    width: 300px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}


#connect-block{
    height:100%;
    display: inline-block;
}

/* LOGIN PART STYLE */
#login{
    display: block;
}

#login-form{
    width: 100%;
}

#btn-login{
    /*
    float: right;
    */
}

/* SIGN UP PART STYLE */
#signup{
    display: block;
    margin-top: 15px;
}

.title-sign{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    color: white;
}

.forms-label-sign{
    color: white;
}

.form-inline{
    margin-top: 3px;
    margin-bottom: 3px;
}

#sex-form{
    padding-top: 5px;
    padding-bottom: 5px;
}