<html>
    <head>
        <link href="client.css" type="text/css" rel="stylesheet">
        <link href="/view/css/bootstrap.css" type="text/css" rel="stylesheet">
        <link href="/view/css/bootstrap-theme.css" type="text/css" rel="stylesheet">
        <script src="/js/client.js" type="text/javascript"></script>
        <script src="/js/serverstub.js" type="text/javascript"></script>
        <script src="/js/bootstrap.js" type="text/javascript"></script>
    </head>
    <body>
        Hello!
        <div id="welcome-page"></div>
        <div id="profile-page"></div>
    </body>
</html>